.forty_width {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  color: black;
  text-align: center;
}
.sixty_width {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}
.left {
  background-color: #7AA095;
  left: 0;
}
.right {
  background-color: #618B4A;
  right: 0;
}

.input {
    border-width: 10px;
    border-color: black;
}
.button {
  width: 100px;
  height: 25px;
  margin-top: 10px;
}
.italic_style {
  font-family: poppins;
  font-size: 30px;
}
.arial_style {
  font-family: normal; 
  font-size: 30px;
}
.myBox {
  padding: 2px;
  border:1px solid black;
  font: 24px/36px sans-serif;
  /*width: 700px;
  height: 200px;*/
  width: 90%;
  height: 40%;
  overflow: scroll;
}
.border {
  border-width: 1px;
  border-color: black;
}
