<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Claire</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/sb-admin-2.min.css" rel="stylesheet">

     <style>

         .navbar-custom99{

             background-color: #8084e0;
             height: 120px;
         }

/*css override */

         #userDropdown, #userDropdown2, #userDropdown3{
             position: absolute;
             bottom: 22%;
             font-size: 20px;
             font-weight: bolder;
             color:white;
         }

         #userDropdown{
             position: absolute;
             right: 24%;
         }

         #userDropdown2{
             position: absolute;
             right: 16%;
         }

         #userDropdown3{
             position: absolute;
             right: 8%;
         }


    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div class="d-flex flex-column" id="content-wrapper">

            <!-- Main Content -->
            <div id="content">

                 <div id="navbarMAIN">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow navbar-custom99">
<!--                        <a class="nav-link" href="home" id="logo" class="navbar-left"><img src = "/static/claire.png">-->
<!--                          -->
<!--                        </a>-->

                        <a class="navbar-brand" href="#"><img alt="Brand" src="/static/1finalclaire.png" class="img-responsive" /></a>

                        <a class="nav-link" href="analytics" id="userDropdown" role="button" >
                            <span class="mr-2 d-none d-lg-inline">DASHBOARD</span>
                          </a>

                         <a class="nav-link" href="all" id="userDropdown2" role="button" >
                            <span class="mr-2 d-none d-lg-inline">HOMEPAGE</span>
                          </a>
                           <a class="nav-link" href="post" id="userDropdown3" role="button" >
                            <span class="mr-2 d-none d-lg-inline">NEW POST</span>
                          </a>
                        <!-- Sidebar Toggle (Topbar) -->
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar -->

                    </nav>
                </div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Entries
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Streak
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Task Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sentiment Change</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{change}}</div>
                                                </div>
                                                <div class="col">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Average Sentiment
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{average}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Sentiment Overview</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div class="chart-area">
                                        <!--                                    <canvas id="myAreaChart"></canvas>-->
                                        <canvas height="25" id="myChart" width="100"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

                                        <script>
                                            var ctx = document.getElementById("myChart");
                                            var dates = [];
                                            var sentiment_values = [];

                                            "{% for val in sentiment_values %}"
                                            sentiment_values.push("{{val}}");
                                            "{% endfor %}"

                                            "{% for val in dates %}"
                                            dates.push("{{val}}");
                                            "{% endfor %}"

                                            var myChart = new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: dates,
                                                    datasets: [{

                                                        lineTension: 0.3,
                                                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                                                        borderColor: "rgba(78, 115, 223, 1)",
                                                        pointRadius: 3,
                                                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                                                        pointBorderColor: "rgba(78, 115, 223, 1)",
                                                        pointHoverRadius: 3,
                                                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                                                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                                                        pointHitRadius: 10,
                                                        pointBorderWidth: 2,

                                                        data: sentiment_values
                                                    }],
                                                },

                                                options: {
                                                    legend: {
                                                        display: false
                                                    },
                                                },
                                            });
                                        </script>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bar Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Keywords</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas height="25" id="myChart2" width="100"></canvas>
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

                                        <script>
                                            var ctx = document.getElementById("myChart2");
                                            var dates = [];
                                            var sentiment_values = [];

                                            "{% for val in sentiment_values %}"
                                            sentiment_values.push("{{val}}");
                                            "{% endfor %}"

                                            "{% for val in dates %}"
                                            dates.push("{{val}}");
                                            "{% endfor %}"

                                            var myChart = new Chart(ctx, {
                                                type: 'bar',
                                                data: {
                                                    labels: ["January", "February", "March", "April", "May", "June"],
                                                    datasets: [{
                                                        label: "Revenue",
                                                        backgroundColor: "#4e73df",
                                                        hoverBackgroundColor: "#2e59d9",
                                                        borderColor: "#4e73df",
                                                        data: [4215, 5312, 6251, 7841, 9821, 14984]
                                                    }],
                                                },

                                                options: {
                                                    legend: {
                                                        display: false
                                                    },
                                                },
                                            });
                                        </script>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Recharge 2020</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Bootstrap core JavaScript-->
            <script src="../vendor/jquery/jquery.min.js"></script>
            <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="../js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="../vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="../js/demo/chart-area-demo.js"></script>

            <script src="../js/demo/chart-pie-demo.js"></script>

        </div>
    </div>
</body>

</html>
